## PROJETO ETL ENEM
___
#### Responder às seguintes perguntas:
1. Qual a escola com a maior média de notas?
2. Qual o aluno com a maior média de notas e o valor dessa média?
3. Qual a média geral?
4. Qual o % de Ausentes?
5. Qual o número total de Inscritos?
6. Qual a média por disciplina?
7. Qual a média por Sexo?
8. Qual a média por Etnia?

In [1]:
%pip install pyspark > /dev/null
%pip install mysql-connector-python > /dev/null
%pip install findspark > /dev/null
%pip install sqlalchemy > /dev/null
%pip install pandas > /dev/null
%pip install setuptools > /dev/null
%pip install findspark > /dev/null

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

Note: you may need to restart the kernel to use updated packages.

O sistema n o pode encontrar o caminho especificado.

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd
import findspark
from pyspark.sql import functions as f
import os
import mysql.connector
from uteis.ETL import ETL
from uteis.load_to_database import load_to_mysql
from uteis.answer import Answer

In [3]:
findspark.init()

In [4]:
os.environ["HADOOP_HOME"] = r"C:\hadoop-3.3.6"
os.environ["hadoop.home.dir"] = r"C:\hadoop-3.3.6"

In [5]:
spark = SparkSession.builder \
    .appName("ENEM ETL") \
    .config("spark.driver.memory", "8g")\
    .config("spark.jars", "mysql-connector-java-8.0.26.jar") \
    .getOrCreate()

In [6]:
spark

In [7]:
etl = ETL()

## ETL

### EXTRACT

In [8]:

file_path = r"..\database\raw\MICRODADOS_ENEM_2020.csv"
df = etl.extract(spark, file_path)

In [9]:
df.show()

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+--------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|CO_MUNICIPIO_ESC|   NO_MUNICIPIO_ESC|CO_UF_ESC|SG_UF_ESC|TP_DEPENDENCIA_ADM_ESC|TP_LOCALIZACAO_ESC|TP_SIT_FUNC_ESC|CO_MUNICIPIO_PROVA|  NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|CO_PROVA_CN|CO_PROVA_CH|CO_PROVA_LC|CO_PROVA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|TP_LINGUA|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|TP_STATUS_REDACAO|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q005|Q006|Q007|Q008|Q009|Q010|Q011|Q012|Q013|Q014|Q015|Q016|Q017|Q018|Q019|Q020|Q021|Q022|Q023|Q024|Q025|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+--------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|200006271946|  2020|             11|      F|              1|          2|               1|              1|             11|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           1501402|               Belém|         15|         PA|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200001195856|  2020|             11|      M|              2|          3|               1|              1|             11|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2408102|               Natal|         24|         RN|             1|             1|             1|             1|        702|        689|        693|        698|     604.1|     661.7|     595.3|     711.3|BCBDBDCCCDBDDBADE...|BCAECABCDCEBDBBBD...|99999CADDEDADBAAB...|EBEBDEDAECBADCADD...|        1|ABBACBCCCDDDDBAEE...|BCEECDBCCDEBDBBBB...|99999CBDDEDBDBACE...|BBEADECAECBBXCEBA...|                1|          120|          120|          120|          120|          100|            580|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200001943954|  2020|              4|      F|              2|          3|               2|              2|              0|        2|        1|           0|         2927408|           Salvador|       29|       BA|                     2|                 1|              1|           2927408|            Salvador|         29|         BA|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   B|   C|   A|   D|   3|   B|   A|   B|   A|   A|   A|   B|   A|   B|   A|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|
|200001908998|  2020|              2|      M|              1|          3|               1|              2|              0|        2|        1|           0|         3547304|Santana de Parnaíba|       35|       SP|                     3|                 1|              1|           3547304| Santana de Parnaíba|         35|         SP|             1|             1|             1|             1|        700|        688|        692|        696|     620.8|       675|     624.2|     759.4|EBEDCCCDCBDBAECAE...|DABCCACCBCCDCADBD...|DCEAB99999AADAECC...|CBDBDCCDDEECBAABB...|        0|BDECCACBEBDEAEDAE...|DABCCAECBABECADBD...|DCEAD99999AADACCC...|EBDBXCCDAEECBAABA...|                1|          140|          200|          140|          120|          160|            760|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200001634757|  2020|              4|      F|              1|          3|               2|              1|              1|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3121605|          Diamantina|         31|         MG|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   B|   G|   B|   B|   3|   B|   A|   B|   D|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   B|   B|   A|   A|   B|
|200003132410|  2020|              3|      F|              1|          3|               1|              1|              1|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           4305207|         Cerro Largo|         43|         RS|             1|             1|             1|             1|        598|        567|        577|        588|     498.1|     604.7|     505.4|     526.7|CABBEEACAEBEBCCDA...|ACEBBDDCADDAACEEA...|99999CBECEBEDBEEC...|BADCAAAEEDBEDBACE...|        1|CEDBDDDCACCBDAEBA...|DABCBDDDAEDBECECB...|AAEDCACEEECEAACBA...|AEBCCXCCCACCDABCC...|                1|          140|          120|          140|          140|          160|            700|   C|   B|   C|   B|   5|   C|   A|   B|   E|   A|   A|   B|   A|   A|   A|   B|   A|   A|   B|   B|   A|   D|   A|   B|   B|
|200001379770|  2020|              9|      M|              1|          3|               1|              1|              6|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2611606|              Recife|         26|         PE|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200001334237|  2020|              4|      M|              1|          1|               1|              1|              1|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3550308|           São Paulo|         35|         SP|             1|             1|             1|             1|        699|        687|        691|        695|     604.6|     604.8|     562.1|     753.2|CECACBBCADACADDEE...|EAADABBEABCADDBAA...|CADDE99999AEEADBA...|BABADDBDAEBAEBBBE...|        0|DEAAECBBCDCBAEBEE...|EAAADBBEDBDACDBCC...|CADDE99999DEBBBBB...|BABBDABAEEBACBACD...|                1|          140|          120|          120|          120|          100|            600|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200006762554|  2020|              5|      F|              2|          3|               1|              1|              3|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2507507|         João Pessoa|         25|         PB|             1|             1|             1|             1|        598|        567|        577|        588|     439.7|     383.5|     486.2|     448.5|DABCDCAEDEDCBEDCD...|ECCAEAEACDDABCBDA...|99999DDCBBABECCAC...|EEDCCEACEBAAAADCD...|        1|CEDBDDDCACCBDAEBA...|DABCBDDDAEDBECECB...|AAEDCACEEECEAACBA...|AEBCCXCCCACCDABCC...|                1|          120|          120|          120|          140|          100|            600|   B|   C|   C|   B|   2|   B|   A|   B|   C|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   A|   C|   A|   A|   A|
|200005146210|  2020|              2|      M|              1|          2|               1|              2|              0|        2|        1|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2304400|           Fortaleza|         23|         CE|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   A|   A|   B|   A|   4|   B|   A|   B|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   A|   A|   A|   B|
|200004902048|  2020|              6|      M|              1|          1|               1|              1|              3|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3550308|           São Paulo|         35|         SP|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   B|   B|   B|   B|   7|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   B|   A|   A|   B|   A|   A|   C|   B|   B|   B|
|200006138472|  2020|              7|      M|              1|          1|               1|              1|              0|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2910727|           Eunápolis|         29|         BA|             1|             1|             1|             1|        598|        567|        577|        588|     491.1|     631.4|     627.9|     546.5|BAEACEDBACDDEDECE...|CDEABDDDABDBEABCA...|AACDC99999ABDBEDA...|EBCDBEBABDBBDABCB...|        0|CEDBDDDCACCBDAEBA...|DABCBDDDAEDBECECB...|AAEDCACEEECEAACBA...|AEBCCXCCCACCDABCC...|                1|          140|          120|          140|          120|          120|            640|   B|   C|   C|   B|   5|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   B|   A|   B|   A|   A|   C|   A|   B|   B|
|200005613689|  2020|              3|      F|              1|          3|               1|              1|              1|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           5008305|         Três Lagoas|         50|         MS|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   D|   E|   A|   A|   3|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   A|   A|   A|   A|   A|   C|   A|   A|   A|
|200004833505|  2020|             11|      F|              2|          2|               1|              1|             12|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3547809|         Santo André|         35|         SP|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200004570764|  2020|             11|      M|              1|          2|               1|              1|              0|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2604007|             Carpina|         26|         PE|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   H|   B|   F|   B|   3|   B|   A|   C|   D|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   B|   A|   B|   B|
|200001071590|  2020|              5|      F|              1|          3|               1|              1|              0|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2800308|             Aracaju|         28|         SE|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200001934470|  2020|              7|      F|              1|          3|               1|              1|              4|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2933307|Vitória da Conquista|         29|         BA|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   A|   B|   F|   F|   3|   B|   A|   B|   C|   A|   A|   B|   B|   A|   A|   A|   A|   A|   B|   A|   A|   C|   A|   B|   B|
|200006066678|  2020|              4|      M|              1|          1|               1|              1|              1|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           4106902|            Curitiba|         41|         PR|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|200003343448|  2020|              7|      F|              1|          3|               1|              1|              3|        1|     NULL|           0|            NULL|               NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2704302|              Maceió|         27|         AL|             1|             1|             1|             1|        597|        569|        580|        587|     422.4|     488.1|     559.1|     420.3|BDCEDABCECACBDCBB...|CAEADAEEDEDBDDCAB...|CADAA99999ABCBEBD...|BBCCDBEADABBE*CED...|        0|DDBACBDDDECDAEDCC...|DECCADEBDECBBECDD...|DCEAAEEEACAACBBEB...|DABCCAEDBBCCCABCA...|                1|          140|          180|          140|          160|          180|            800|   C|   C|   C|   B|   2|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   B|   A|   C|   A|   B|   B|

In [10]:
df.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- NU_ANO: string (nullable = true)
 |-- TP_FAIXA_ETARIA: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_ESTADO_CIVIL: string (nullable = true)
 |-- TP_COR_RACA: string (nullable = true)
 |-- TP_NACIONALIDADE: string (nullable = true)
 |-- TP_ST_CONCLUSAO: string (nullable = true)
 |-- TP_ANO_CONCLUIU: string (nullable = true)
 |-- TP_ESCOLA: string (nullable = true)
 |-- TP_ENSINO: string (nullable = true)
 |-- IN_TREINEIRO: string (nullable = true)
 |-- CO_MUNICIPIO_ESC: string (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- CO_UF_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_DEPENDENCIA_ADM_ESC: string (nullable = true)
 |-- TP_LOCALIZACAO_ESC: string (nullable = true)
 |-- TP_SIT_FUNC_ESC: string (nullable = true)
 |-- CO_MUNICIPIO_PROVA: string (nullable = true)
 |-- NO_MUNICIPIO_PROVA: string (nullable = true)
 |-- CO_UF_PROVA: string (nullable = true)
 |-- SG_UF_PROVA: string (nullable = true)
 |-- TP_PRESENCA_CN: string (nullable = true)
 |-- TP_PRESENCA_CH: string (nullable = true)
 |-- TP_PRESENCA_LC: string (nullable = true)
 |-- TP_PRESENCA_MT: string (nullable = true)
 |-- CO_PROVA_CN: string (nullable = true)
 |-- CO_PROVA_CH: string (nullable = true)
 |-- CO_PROVA_LC: string (nullable = true)
 |-- CO_PROVA_MT: string (nullable = true)
 |-- NU_NOTA_CN: string (nullable = true)
 |-- NU_NOTA_CH: string (nullable = true)
 |-- NU_NOTA_LC: string (nullable = true)
 |-- NU_NOTA_MT: string (nullable = true)
 |-- TX_RESPOSTAS_CN: string (nullable = true)
 |-- TX_RESPOSTAS_CH: string (nullable = true)
 |-- TX_RESPOSTAS_LC: string (nullable = true)
 |-- TX_RESPOSTAS_MT: string (nullable = true)
 |-- TP_LINGUA: string (nullable = true)
 |-- TX_GABARITO_CN: string (nullable = true)
 |-- TX_GABARITO_CH: string (nullable = true)
 |-- TX_GABARITO_LC: string (nullable = true)
 |-- TX_GABARITO_MT: string (nullable = true)
 |-- TP_STATUS_REDACAO: string (nullable = true)
 |-- NU_NOTA_COMP1: string (nullable = true)
 |-- NU_NOTA_COMP2: string (nullable = true)
 |-- NU_NOTA_COMP3: string (nullable = true)
 |-- NU_NOTA_COMP4: string (nullable = true)
 |-- NU_NOTA_COMP5: string (nullable = true)
 |-- NU_NOTA_REDACAO: string (nullable = true)
 |-- Q001: string (nullable = true)
 |-- Q002: string (nullable = true)
 |-- Q003: string (nullable = true)
 |-- Q004: string (nullable = true)
 |-- Q005: string (nullable = true)
 |-- Q006: string (nullable = true)
 |-- Q007: string (nullable = true)
 |-- Q008: string (nullable = true)
 |-- Q009: string (nullable = true)
 |-- Q010: string (nullable = true)
 |-- Q011: string (nullable = true)
 |-- Q012: string (nullable = true)
 |-- Q013: string (nullable = true)
 |-- Q014: string (nullable = true)
 |-- Q015: string (nullable = true)
 |-- Q016: string (nullable = true)
 |-- Q017: string (nullable = true)
 |-- Q018: string (nullable = true)
 |-- Q019: string (nullable = true)
 |-- Q020: string (nullable = true)
 |-- Q021: string (nullable = true)
 |-- Q022: string (nullable = true)
 |-- Q023: string (nullable = true)
 |-- Q024: string (nullable = true)
 |-- Q025: string (nullable = true)

### TRANSFORM

In [11]:
dim_aluno, dim_escola, dim_municipio, fato_enem = etl.transform(df)

In [12]:
dim_aluno.show()

+----------------+----+-----+------------------+
|numero_inscricao|sexo|etnia|situacao_conclusao|
+----------------+----+-----+------------------+
|    200005909927|   F|    0|                 1|
|    200006123011|   F|    1|                 2|
|    200006267793|   F|    1|                 1|
|    200003990748|   F|    2|                 1|
|    200004009640|   F|    3|                 1|
|    200002371686|   M|    3|                 1|
|    200004571138|   M|    3|                 1|
|    200004046927|   M|    1|                 1|
|    200003051097|   F|    2|                 1|
|    200005983749|   F|    3|                 2|
|    200003885791|   F|    3|                 1|
|    200002065330|   M|    1|                 1|
|    200001510845|   M|    2|                 1|
|    200005221474|   F|    2|                 1|
|    200004604317|   F|    1|                 2|
|    200006546014|   M|    3|                 2|
|    200005366948|   M|    3|                 2|
|    200001246495|   F|    3|                 2|
|    200004891954|   F|    1|                 2|
|    200002312476|   F|    3|                 1|
+----------------+----+-----+------------------+
only showing top 20 rows

In [13]:
dim_escola.show()

+----------------+--------------------+------+
|codigo_municipio|       nom_municipio|estado|
+----------------+--------------------+------+
|         1508209|               Vigia|    PA|
|         2411205|          Santa Cruz|    RN|
|         2801306|              Capela|    SE|
|         4209607|        Lauro Müller|    SC|
|         3304300|          Rio Bonito|    RJ|
|         2609709|               Orobó|    PE|
|         3157203|       Santa Bárbara|    MG|
|         2403608|            Extremoz|    RN|
|         1505809|              Portel|    PA|
|         2505006|              Cubati|    PB|
|         3203700|        Muniz Freire|    ES|
|         5210000|             Inhumas|    GO|
|         4322202|         Tupanciretã|    RS|
|         1505486|              Pacajá|    PA|
|         2928901|       São Desidério|    BA|
|         3108255|     Bonito de Minas|    MG|
|         1304237|           Tonantins|    AM|
|         4105706|         Clevelândia|    PR|
|         5220264|São Miguel do Pas...|    GO|
|         3532058|              Motuca|    SP|
+----------------+--------------------+------+
only showing top 20 rows

In [14]:
dim_municipio.show()

+----------------+--------------------+------+
|codigo_municipio|       nom_municipio|estado|
+----------------+--------------------+------+
|         1508209|               Vigia|    PA|
|         2411205|          Santa Cruz|    RN|
|         2801306|              Capela|    SE|
|         4209607|        Lauro Müller|    SC|
|         3304300|          Rio Bonito|    RJ|
|         2609709|               Orobó|    PE|
|         3157203|       Santa Bárbara|    MG|
|         2403608|            Extremoz|    RN|
|         1505809|              Portel|    PA|
|         2505006|              Cubati|    PB|
|         3203700|        Muniz Freire|    ES|
|         5210000|             Inhumas|    GO|
|         4322202|         Tupanciretã|    RS|
|         1505486|              Pacajá|    PA|
|         2928901|       São Desidério|    BA|
|         3108255|     Bonito de Minas|    MG|
|         1304237|           Tonantins|    AM|
|         4105706|         Clevelândia|    PR|
|         5220264|São Miguel do Pas...|    GO|
|         3532058|              Motuca|    SP|
+----------------+--------------------+------+
only showing top 20 rows

In [15]:
fato_enem.show()

+----------------+----------------+-------+-------+-------+-------+------------+------------------+-----------+-----------+-----------+-----------+
|numero_inscricao|codigo_municipio|nota_CN|nota_CH|nota_LC|nota_MT|nota_redacao|        NOTA_MEDIA|presenca_CN|presenca_CH|presenca_LC|presenca_MT|
+----------------+----------------+-------+-------+-------+-------+------------+------------------+-----------+-----------+-----------+-----------+
|    200006271946|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200001195856|            NULL|  604.1|  661.7|  595.3|  711.3|         580|            630.48|          1|          1|          1|          1|
|    200001943954|         2927408|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200001908998|         3547304|  620.8|  675.0|  624.2|  759.4|         760| 687.8799999999999|          1|          1|          1|          1|
|    200001634757|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200003132410|            NULL|  498.1|  604.7|  505.4|  526.7|         700|            566.98|          1|          1|          1|          1|
|    200001379770|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200001334237|            NULL|  604.6|  604.8|  562.1|  753.2|         600|            624.94|          1|          1|          1|          1|
|    200006762554|            NULL|  439.7|  383.5|  486.2|  448.5|         600|471.58000000000004|          1|          1|          1|          1|
|    200005146210|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200004902048|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200006138472|            NULL|  491.1|  631.4|  627.9|  546.5|         640|            587.38|          1|          1|          1|          1|
|    200005613689|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200004833505|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200004570764|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200001071590|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200001934470|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200006066678|            NULL|   NULL|   NULL|   NULL|   NULL|        NULL|              NULL|          0|          0|          0|          0|
|    200003343448|            NULL|  422.4|  488.1|  559.1|  420.3|         800|            537.98|          1|          1|          1|          1|
|    200005966328|            NULL|  486.0|  503.3|  439.8|  405.6|         500|466.93999999999994|          1|          1|          1|          1|
+----------------+----------------+-------+-------+-------+-------+------------+------------------+-----------+-----------+-----------+-----------+
only showing top 20 rows

### LOAD

In [16]:
parquet_path = r"..\database\transformed\dados_enem_parquet"

etl.load(dim_aluno, dim_escola, dim_municipio, fato_enem, parquet_path)

### RESPONDENDO QUESTÕES

In [17]:
answer = Answer(spark, dim_aluno, dim_escola, dim_municipio, fato_enem)

In [18]:

# load answer
top_school = answer.get_top_school()
top_student = answer.get_top_student()
average_score = answer.get_average_score()
absent_percentage = answer.get_absent_percentage()
total_students = answer.get_total_students()
average_by_discipline = answer.get_average_by_discipline()
average_by_gender = answer.get_average_by_gender()
average_by_ethnicity = answer.get_average_by_ethnicity()

##### 1. Qual a escola com a maior média de notas?

In [19]:
top_school.show()

+-------------------+------+-----------------+
|             escola|estado|     media_escola|
+-------------------+------+-----------------+
|Santana do Manhuaçu|    MG|706.5600000000001|
+-------------------+------+-----------------+

##### 2. Qual o aluno com a maior média de notas e o valor dessa média?

In [20]:
top_student.show()

+----------------+----+-----+-----------------+
|numero_inscricao|sexo|etnia|      media_notas|
+----------------+----+-----+-----------------+
|    200005996961|   M|    1|858.5799999999999|
+----------------+----+-----+-----------------+

##### 3. Qual a média geral?

In [21]:
average_score.show()

+-----------------+
|      media_geral|
+-----------------+
|526.5806802769449|
+-----------------+

##### 4. Qual o % de Ausentes?

In [22]:
absent_percentage.show()

+-------------------+
|percentual_ausentes|
+-------------------+
|  55.20821067007383|
+-------------------+

##### 5. Qual o número total de Inscritos?

In [23]:
total_students.show()

+---------------+
|total_inscritos|
+---------------+
|        5783109|
+---------------+

##### 6. Qual a média por disciplina?

In [24]:
average_by_discipline.show()

+----------------+-----------------+-----------------+-----------------+-----------------+
|        media_CN|         media_CH|         media_LC|         media_MT|    media_redacao|
+----------------+-----------------+-----------------+-----------------+-----------------+
|490.534635128853|514.2869822121747|526.0192024818806|520.7272992307672|581.3352823310404|
+----------------+-----------------+-----------------+-----------------+-----------------+

##### 7. Qual a média por Sexo?

In [25]:
average_by_gender.show()

+----+-----------------+
|sexo|       media_sexo|
+----+-----------------+
|   F|521.2449112081382|
|   M|534.7254885958835|
+----+-----------------+

##### 8. Qual a média por Etnia?

In [26]:
average_by_ethnicity.show()

+-----+------------------+
|etnia|       media_etnia|
+-----+------------------+
|    1|   556.52672213979|
|    3| 508.6575016996888|
|    5|472.84366774078046|
|    4| 524.9384386151191|
|    2|  500.868301996394|
|    0|       534.0503396|
+-----+------------------+

#### CONECTAR AO SQL

##### PERSISTIR OS DADOS

In [ ]:
load_to_mysql(dim_aluno, dim_escola, dim_municipio, fato_enem)

In [ ]:
spark.stop()